<a
  class="text-decoration-none text-dark self-align-center mt-3"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#filterCollapse"
  aria-expanded="false"
  aria-controls="filterCollapse"
>
  <i class="bi bi-filter-left"></i>
  Filters
</a>

<div class="collapse" id="filterCollapse">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
      />
    </div>
    <div class="mb-3">
      <label for="words" class="form-label">Words</label>
      <input
        formControlName="words"
        type="number"
        class="form-control"
        id="words"
      />
    </div>

    <div class="mb-3" *ngIf="(fandoms$ | async)?.fandoms as fandoms">
      <label for="fandoms" class="form-label">Fandoms</label>
      <ng-multiselect-dropdown
        [settings]="dropdownSelectFandomsOrTags"
        [placeholder]="'Select fandoms'"
        formControlName="fandoms"
        (ngModelChange)="onFandomSelect($event)"
        [data]="fandoms"
      >
      </ng-multiselect-dropdown>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="showExcludeFandoms"
          [ngModelOptions]="{standalone: true}"
        />
        Exclude fandoms?
      </div>
      <ng-multiselect-dropdown
        *ngIf="showExcludeFandoms"
        formControlName="excludeFandoms"
        [settings]="dropdownSelectFandomsOrTags"
        [placeholder]="'Select the fandoms you want to exclude'"
        [data]="fandoms"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="mb-3" *ngIf="characters.length">
      <label for="characters" class="form-label">Characters</label>
      <ng-multiselect-dropdown
        [settings]="dropdownSelectCharacters"
        [placeholder]="'Select characters'"
        formControlName="characters"
        [data]="characters"
      >
      </ng-multiselect-dropdown>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="showExcludeCharacters"
          [ngModelOptions]="{standalone: true}"
        />
        Exclude characters?
      </div>

      <ng-multiselect-dropdown
        *ngIf="showExcludeCharacters"
        formControlName="excludeCharacters"
        [settings]="dropdownSelectCharacters"
        [placeholder]="'Select the characters you want to exclude'"
        [data]="characters"
      >
      </ng-multiselect-dropdown>

      <div class="mb-3">
        <label class="form-label">Add pairings</label>
        <a class="btn btn-link"
          ><i class="bi bi-plus-lg text-success" (click)="addPairing()"></i
        ></a>

        <div
          class="mb-3"
          formGroupName="pairings"
          *ngFor="let control of pairings; let idx = index"
        >
          <ng-multiselect-dropdown
            [formControlName]="idx"
            [settings]="dropdownSelectCharacters"
            [placeholder]="'Select pairing'"
            [data]="characters"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Exclude pairings</label>
        <a class="btn btn-link"
          ><i class="bi bi-plus-lg text-success" (click)="excludePairing()"></i
        ></a>

        <div
          class="mb-3"
          formGroupName="excludePairings"
          *ngFor="let control of excludePairings; let idx = index"
        >
          <ng-multiselect-dropdown
            [formControlName]="idx"
            [settings]="dropdownSelectCharacters"
            [placeholder]="'Select the pairing you want to exclude'"
            [data]="characters"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="mb-3" *ngIf="(tags$ | async)?.tags as tags">
      <label for="tags" class="form-label">Tags</label>

      <ng-multiselect-dropdown
        formControlName="tags"
        [settings]="dropdownSelectFandomsOrTags"
        [placeholder]="'Select tags'"
        [data]="tags"
      >
      </ng-multiselect-dropdown>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="showExcludeTags"
          [ngModelOptions]="{standalone: true}"
        />
        Exclude tags?
      </div>

      <div class="mb-3" *ngIf="showExcludeTags">
        <ng-multiselect-dropdown
          formControlName="excludeTags"
          [settings]="dropdownSelectFandomsOrTags"
          [placeholder]="'Select the tags you want to exclude'"
          [data]="tags"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="mb-3" *ngIf="(focuses$ | async)?.focuses as focuses">
      <label for="focus" class="form-label">Focuses</label>
      <ng-multiselect-dropdown
        formControlName="focuses"
        [settings]="dropdownSelectFocusesOrRatings"
        [placeholder]="'Select focuses'"
        [data]="focuses"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="mb-3" *ngIf="(ratings$ | async)?.ratings as ratings">
      <label for="rating" class="form-label">Ratings</label>
      <ng-multiselect-dropdown
        formControlName="ratings"
        [settings]="dropdownSelectFocusesOrRatings"
        [placeholder]="'Select ratings'"
        [data]="ratings"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="mb-3">
      <label class="form-label me-2">Sort by:</label>
      <div class="form-check form-check-inline" *ngFor="let sort of sortBy">
        <input
          class="form-check-input"
          type="radio"
          name="sort"
          [value]="sort.value"
          [id]="sort.value"
          formControlName="sort"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ sort.title }}
        </label>
      </div>

      <div>
        <label class="form-label me-2">Order by:</label>
        <div class="form-check form-check-inline" *ngFor="let order of orderBy">
          <input
            class="form-check-input"
            type="radio"
            name="order"
            [value]="order.value"
            [id]="order.value"
            formControlName="order"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            {{ order.title }}
          </label>
        </div>
      </div>
    </div>

    <button type="submit" class="me-2 btn btn-sm btn-secondary">Filter</button>
    <button
      type="submit"
      class="btn btn-sm btn-outline-secondary"
      (click)="onReset()"
    >
      Reset filter
    </button>
  </form>
</div>
