<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      formControlName="title"
      type="text"
      class="form-control"
      id="title"
    />
  </div>
  <div class="mb-3">
    <label for="words" class="form-label">Words</label>
    <input
      formControlName="words"
      type="number"
      class="form-control"
      id="words"
    />
  </div>
  <div class="mb-3">
    <label for="fandoms" class="form-label">Fandoms</label>
    <select
      id="fandoms"
      class="form-select"
      multiple
      aria-label="multiple select"
      formControlName="fandoms"
      (change)="onFandomSelect()"
    >
      <option
        *ngFor="let fandom of (fandoms$ | async)?.fandoms"
        [value]="fandom"
      >
        {{ fandom.title }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="characters" class="form-label">Characters</label>
    <select
      id="characters"
      class="form-select"
      multiple
      aria-label="multiple select"
      formControlName="characters"
    >
      <option *ngFor="let character of characters" [ngValue]="character.name">
        {{ character.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Add pairings</label>
    <a class="btn btn-link"
      ><i class="bi bi-plus-lg text-success" (click)="addPairing()"></i
    ></a>
    <div
      class="mb-3"
      formGroupName="pairings"
      *ngFor="let control of pairings; let idx = index"
    >
      <select
        class="form-select"
        multiple
        aria-label="multiple select"
        [formControlName]="idx"
      >
        <option *ngFor="let character of characters" [ngValue]="character.name">
          {{ character.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="mb-3">
    <label for="tags" class="form-label">Tags</label>
    <select
      id="tags"
      class="form-select"
      multiple
      aria-label="multiple select"
      formControlName="tags"
    >
      <option *ngFor="let tag of (tags$ | async)?.tags" [value]="tag.title">
        {{ tag.title }}
      </option>
    </select>
  </div>
  <button type="submit" class="me-2 btn btn-sm btn-secondary">Filter</button>
  <button
    type="submit"
    class="btn btn-sm btn-outline-secondary"
    (click)="onReset()"
  >
    Reset filter
  </button>
</form>
