<div *ngIf="stories$ | async as stories">
  <div class="card mb-4" *ngFor="let story of stories.stories">
    <div class="card-body">
      <h5 class="card-title mb-2 d-flex justify-content-between">
        <div>
          <p class="info mb-1">{{ story.title }}</p>
          <p class="info fs-5">
            <button class="btn btn-sm btn-light me-2 border-secondary">
              {{ story.focus.value }}
            </button>
            <button class="btn btn-sm btn-light me-2 border-secondary">
              {{ story.rating.value }}
            </button>
            <button class="btn btn-sm btn-light me-2 border-secondary">
              {{ story.status }}
            </button>
            <app-favorite-story
              [isFavorite]="story.favorite"
              [favoriteCount]="story.favoriteCount"
              [storySlug]="story.slug"
              [storyAuthor]="story.author.username"
            ></app-favorite-story>
            <app-follow-story
              [isFollow]="story.follow"
              [followCount]="story.followCount"
              [storySlug]="story.slug"
              [storyAuthor]="story.author.username"
            ></app-follow-story>
          </p>
        </div>
      </h5>
      <p class="info">
        Author:
        <span class="badge bg-secondary me-1"
          ><a
            class="badge-link"
            [routerLink]="['/profiles', story.author.username]"
            >{{ story.author.username }}</a
          ></span
        >
      </p>
      <p class="info">
        Fandoms:
        <span
          class="badge bg-secondary me-1"
          *ngFor="let fandom of story.fandoms"
          ><a class="badge-link" [routerLink]="['/stories', fandom.slug]">{{
            fandom.title
          }}</a></span
        >
      </p>
      <p class="info">
        Characters:
        <span
          class="badge bg-secondary me-1"
          *ngFor="let character of story.characters"
          >{{ character }}</span
        >
      </p>
      <p class="info">
        Pairings:
        <span
          class="badge bg-secondary me-1"
          *ngFor="let pairing of story.pairings"
          >{{ pairing }}</span
        >
      </p>
      <p class="info">
        Tags:
        <span class="badge bg-secondary me-1" *ngFor="let tag of story.tags">{{
          tag.title
        }}</span>
      </p>
      <p class="info">
        Size: {{ story.words }} words or {{ story.pages }} pages
      </p>
      <pre>{{ story.chapters }}</pre>
      <hr />
      <p class="card-text">{{ story.description }}</p>
    </div>
  </div>
</div>
