<nav class="navbar navbar-light navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Fanstories</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav align-items-center">
        <li class="nav-items">
          <a class="nav-link" routerLink="fandoms" routerLinkActive="active"
            >Fandoms</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto align-items-center">
        <ng-container
          *ngIf="(isLoggedIn$ | async) && (currentUser$ | async) as currentUser"
        >
          <li class="nav-item">
            <a routerLink="" class="nav-link"> <i class="bi bi-pencil"></i></a>
          </li>
          <li>
            <a routerLink="" class="nav-link">
              <i class="bi bi-layout-text-sidebar"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="bi bi-bell"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="bi bi-bookmark"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="{{ currentUser.image }}"
                height="32"
                class="rounded-circle border"
                alt="ppf"
              />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/profiles', currentUser.username]"
                  ><i class="bi bi-person"></i> Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink=""
                  ><i class="bi bi-gear"></i> Settings</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" (click)="logout()">
                  <i class="bi bi-box-arrow-right"></i> Logout</a
                >
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="isAnonymous$ | async">
          <a class="btn btn-outline-secondary" routerLink="register">
            Sign-up
          </a>
          <a class="btn btn-light" routerLink="login">Sign-in</a>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  #offcanvas
>
  <div class="offcanvas-header justify-content-around align-items-start">
    <ng-container *ngIf="isAnonymous$ | async">
      <a class="btn btn-outline-secondary btn-sm" routerLink="register">
        Sign Up
      </a>
      <a class="btn btn-sm" routerLink="login">Sign In</a>
    </ng-container>
    <ng-container
      *ngIf="(isLoggedIn$ | async) && (currentUser$ | async) as currentUser"
    >
      <a class="p-2 text-dark" routerLink="">
        <i class="bi bi-bell fs-4"></i
      ></a>
      <div class="text-center">
        <div>
          <img
            src="{{ currentUser.image }}"
            height="75"
            class="rounded-circle border"
            alt="ppf"
          />
        </div>
        <div>
          <a
            class="text-decoration-none text-dark fs-5"
            [routerLink]="['/profiles', currentUser.username]"
            >{{ currentUser.username }}</a
          >
        </div>
      </div>
      <a class="p-2 text-dark" routerLink="">
        <i class="bi bi-bookmark fs-4"></i
      ></a>
    </ng-container>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="list-group">
      <a
        class="list-group-item list-group-item-action"
        routerLink="/"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="offcanvas-active"
      >
        <i class="bi bi-house"></i>
        <span class="px-2">Home</span>
      </a>
      <a
        class="list-group-item list-group-item-action"
        routerLink="fandoms"
        routerLinkActive="offcanvas-active"
      >
        <i class="bi bi-journal"></i>
        <span class="px-2">Fandoms</span>
      </a>
      <ng-container *ngIf="isLoggedIn$ | async">
        <a
          class="list-group-item list-group-item-action"
          routerLinkActive="offcanvas-active"
        >
          <i class="bi bi-pencil"></i>
          <span class="px-2">Add story</span>
        </a>
        <a
          class="list-group-item list-group-item-action"
          routerLinkActive="offcanvas-active"
        >
          <i class="bi bi-layout-text-sidebar"></i>
          <span class="px-2">My Stories</span>
        </a>
      </ng-container>
    </ul>
  </div>
  <div class="offcanvas-footer p-0">
    <ul class="list-group">
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="list-group-item list-group-item-action" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </li>
      </ng-container>
    </ul>
  </div>
</div>
