<div class="col-md-4 col-xs-12 offset-md-4 p-4">
  <h1>Sign-up</h1>
  <app-backend-errors
    *ngIf="backendErrors$ | async as errors"
    [errors]="errors"
  ></app-backend-errors>
  <form
    class="mt-4 needs-validation"
    (ngSubmit)="onSubmit()"
    *ngIf="form"
    [formGroup]="form"
  >
    <div class="mb-3">
      <label for="inputUsername" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="inputUsername"
        formControlName="username"
        [ngClass]="{'is-valid': username?.valid && username?.touched}"
        [ngClass]="{'is-invalid': username?.invalid && username?.touched}"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        <span *ngIf="username?.errors?.required"
          >Username field is required</span
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        formControlName="email"
        [ngClass]="{'is-valid': email?.valid && email?.touched}"
        [ngClass]="{'is-invalid': email?.invalid && email?.touched}"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        <span *ngIf="email?.errors?.required">Email field is required</span>
        <span *ngIf="email?.errors?.email">Email field must be email</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        formControlName="password"
        [ngClass]="{'is-valid': password?.valid && password?.touched}"
        [ngClass]="{'is-invalid': password?.invalid && password?.touched}"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        <span *ngIf="password?.errors?.required"
          >Password field is required</span
        >
        <span *ngIf="password?.errors?.minlength"
          >Password cannot be less than
          {{ password?.errors?.minlength.requiredLength }} characters. Now
          {{ password?.errors?.minlength.actualLength }}</span
        >

        <span *ngIf="password?.errors?.maxlength"
          >Password cannot be greather than
          {{ password?.errors?.maxlength.requiredLength }} characters. Now
          {{ password?.errors?.maxlength.actualLength }}</span
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form?.invalid">
      Submit
    </button>
  </form>
</div>
